:root {
  --main-spacing-page: 64px;
  --halstack-main-color: #5f249f;
}

body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

div.mockup {
  width: 50%;
  position: absolute;
  top: -64px;
  right: 0;
  z-index: -1;
}

div.mockup img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--main-spacing-page) calc(var(--main-spacing-page) + 4px);
  height: calc(100vh - 128px);
}

header img {
  width: 200px;
  margin-left: 7.8%;
}

header div.intro {
  margin-left: 7.8%;
  margin-bottom: 100px;
}

header div.intro h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 64px;
  color: black;
  letter-spacing: -4px;
  line-height: 62px;
  margin-top: 0;
}

header div.intro button {
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: transparent 0px 0px 0px 2px;
  letter-spacing: 0.025em;
  border-radius: 0.25rem;
  border-width: 0px;
  border-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  color: var(--halstack-main-color);
  padding: 8px 16px;
}

header div.intro button:hover {
  cursor: pointer;
  background-color: #f2eafa;
}

main {
  margin-top: calc(var(--main-spacing-page) * 5);
}

main > div {
  margin-left: 11%;
}

main > div > h2,
main > div > a > h2 {
  display: inline-flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

main > div > h2 img,
main > div > a > h2 img {
  margin-left: 16px;
}

main > div > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 48%;
  text-align: justify;
}

main > div button {
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: transparent 0px 0px 0px 2px;
  letter-spacing: 0.025em;
  border-radius: 0.25rem;
  border-width: 0px;
  border-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--halstack-main-color);
  color: white;
  padding: 8px 16px;
  margin-top: 24px;
}

main > div button:hover {
  cursor: pointer;
  background-color: #4b1c7d;
}

main div.tools-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 11%);
  margin-top: 80px;
}

main div.tools-container > div {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3 - 34px);
  background-color: #f5f5f5;
  padding: 0 36px 26px 36px;
  box-sizing: border-box;
  justify-content: center;
}

main div.tools-container > div > h3 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

main div.tools-container > div > h3 > img {
  margin-right: 16px;
}

main div.tools-container > div > p,
main div.tools-container > div > a {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

main div.tools-container > div > a {
  display: inline-flex;
  align-items: flex-end;
  width: auto;
  color: #006bf6;
  cursor: pointer;
  margin-top: 6px;
}

main div.client,
main div.browser,
main div.mantainers {
  margin-top: 200px;
  position: relative;
}

main div.client > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
}

main div.browser > img {
  position: absolute;
  top: 14%;
  right: 0;
  width: 46%;
}

main div.client > p,
main div.browser > p {
  width: 36%;
}

main div.mantainers {
  margin-bottom: 200px;
}

main div.mantainers div.profiles {
  display: flex;
  justify-content: space-around;
  margin-right: 11%;
  flex-wrap: wrap;
}

main div.mantainers div.profiles > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(72% / 5);
  margin-bottom: 48px;
}

main div.mantainers div.profiles img {
  width: 70%;
  border-radius: 50%;
}

main div.mantainers div.profiles a {
  color: var(--halstack-main-color);
  text-decoration: none;
}

main div.mantainers div.profiles h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 4px;
  text-align: center;
}

main div.mantainers div.profiles span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: var(--halstack-main-color);
}

main div.mantainers h2 {
  margin-bottom: 148px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 600px;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 64px 11%;
}

footer div.visual-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}

footer div.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

footer div.navigation > div {
  width: 100%;
  display: flex;
}

footer div.navigation > div > div {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4);
  margin-right: 12px;
}

footer div.navigation > div > div > h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

footer div.navigation > div > div > a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  text-decoration: none;
  margin-bottom: 16px;
}

footer div.dxc-reference {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div.dxc-reference p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  header {
    margin: 80px;
    height: calc(100vh - 160px);
  }

  header img,
  header div.intro {
    margin-left: 0;
  }

  main {
    margin-top: var(--main-spacing-page);
  }

  main div.tools-container {
    width: 100%;
    flex-wrap: wrap;
  }

  main div.tools-container > div {
    width: 100%;
    margin-bottom: 40px;
  }

  main > div {
    margin: 0 80px;
  }

  main > div.client > p, main > div.browser > p, main > div > p {
    width: 100%;
  }

  main div.client, main div.browser, main div.mantainers {
      margin-top: 148px;
  }

  main div.client > img, main div.browser > img {
      top: unset;
      bottom: -80px;
  }

  main div.mantainers h2 {
      margin-bottom: 64px;
  }

  main div.mantainers div.profiles {
      margin-right: 0;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  main div.mantainers div.profiles > div {
      margin-bottom: 48px;
      width: calc(100% / 3);
  }

  main div.mantainers div.profiles > div img {
    width: 50%;
  }

  footer div.navigation > div > div {
      width: calc(100% / 3);
      margin-right: 64px;
  }

  footer {
    padding: 64px 80px;
  }

}

@media (max-width: 480px) {
  header {
    margin: 20px;
    height: calc(100vh - 40px);
  }

  header img,
  header div.intro {
    margin-left: 0;
  }

  header img {
    width: 148px;
  }

  header div.intro h1 {
    font-size: 48px;
    line-height: 48px;
  }

  div.mockup {
    display: none;
  }

  main {
    margin-top: var(--main-spacing-page);
  }

  main > div {
    margin: 0 20px;
  }

  main > div > h2,
  main > div > a > h2 {
    font-size: 28px;
  }

  main > div > p {
    width: 100%;
  }

  main div.tools-container {
    width: 100%;
    flex-wrap: wrap;
  }

  main div.tools-container > div {
    width: 100%;
    margin-bottom: 40px;
  }

  main div.client,
  main div.browser,
  main div.mantainers {
    margin-top: 48px;
    margin-bottom: 80px;
  }

  main div.client > p,
  main div.browser > p {
    width: 100%;
  }

  main div.client > img,
  main div.browser > img {
    display: none;
  }

  main div.mantainers h2 {
    margin-bottom: 64px;
  }

  main div.mantainers div.profiles {
    margin-right: 0;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  main div.mantainers div.profiles > div {
    margin-bottom: 64px;
    width: 100%;
  }

  main div.mantainers div.profiles img {
    width: 48%;
    border-radius: 50%;
  }

  form {
    display: flex;
    justify-content: center;
  }

  footer {
    height: auto;
    padding-bottom: 24px;
  }

  footer div.visual-elements > img {
    width: 128px;
  }

  footer div.visual-elements > a > img {
    width: 38px;
  }

  footer div.navigation > div {
    flex-wrap: wrap;
  }

  footer div.navigation > div > div {
    width: 100%;
  }

  footer div.dxc-reference > img {
    width: 128px;
  }

  footer {
    padding: 64px 11%;
  }
}
